# Created by .ignore support plugin (hsz.mobi)
target/
/logs/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.idea/*
/.idea/*.xml
*.iws
*.iml
*.ipr

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.settings/

.DS_Store